apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: Deployment
      name: hpc-mcp-server
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: hpc-mcp-server
      spec:
        template:
          spec:
            containers:
              - name: hpc-mcp-server
                image: localhost/hpc-mcp-server:latest
                imagePullPolicy: IfNotPresent
